nav{
	margin: 10px;
	padding: 10px;
	text-align: center;
	border: 2px solid DodgerBlue;
	background: DodgerBlue;
	border-radius: 15px;
}
.f1{
	margin: 30px;
	text-decoration: none;
	color: white;
	font-family: cursive;
	font-size: 18px;
}
.f1:hover{
	border: 1px solid MediumSeaGreen;
	background: MediumSeaGreen;
	color: white;
	border-radius: 15px;
}
.f1:active{
	color: red;
}
.f1:visited{
	color: purple;
}